{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'images/rough.css' %}"/>
    <title>BookStore Search</title>
</head>
<body style="background-color: rgb(224, 231, 236);">
    <div class="container-fluid py-2" style="background-color: rgb(41,46,126);">
        <nav class="navbar navbar-expand-xl" style="margin-left: 3vw;">
          <div class="container-fluid">
            <a
              class="navbar-brand"
              href="#"
              style="color: aliceblue; margin-left: 3vw; font-size: 1.2vw; "
              ><img
                src="{% static 'images/navbar/icons8-book-40.png' %}"
                alt="Logo"
                style="width: 2vw;"
                class="d-inline-block align-text-top me-2"
              />BookStore</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
  
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: 2vw">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    aria-current="page"
                    href="home"
                    style="color: aliceblue; font-size: 1vw;"
                    ><img
                      src="{% static 'images/navbar/icons8-home-40.png' %}"
                      alt="Logo"
                      style="width: 1vw;"
                      class="d-inline-block align-text-center me-2"
                    />Home</a
                  >
                </li>
  
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="color: aliceblue; font-size: 1vw;"
                    ><img
                      src="{% static 'images/navbar/icons8-book-40.png' %}"
                      alt="Logo"
                      style="width: 1vw;"
                      class="d-inline-block align-text-center me-2"
                    />
                    Books
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: aliceblue;font-size: 1vw;"
                    ><img
                      src="{% static 'images/navbar/icons8-contact-16.png' %}"
                      alt="Logo"
                      style="width: 1vw;"
                      class="d-inline-block align-text-center me-2"
                    />Contact</a
                  >
                </li>
                <li>
                  <form action="search">
                    <div class="input-group mt-1">
                      <input type="search" name="book_name" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" style="width: 25vw;height: 2vw;">
                      <button class="btn" type="submit" id="button-addon2"  style="background-color: rgb(171, 231, 255); border: 0; height: 2vw; width: 3vw;"><img class="d-flex" src="{%static 'images/navbar/icons8-search-50.png'%}" alt="" style="block-size: 1vw;margin:auto;" ></button>
                    </div>
                  </form>
              </li>
  
              <li class="nav-item " >
                <a
                  class="nav-link"
                  aria-current="page"
                  href="#"
                  style="color: aliceblue;font-size: 1vw;"
                  ><img
                    src="{%static 'images/navbar/icons8-lock-94.png'%}"
                    alt="Logo"
                    style="width: 1vw;"
                    class="d-inline-block align-text-center me-2"
                  />LogIn</a
                >
              </li>
  
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="#"
                  style="color: aliceblue;font-size: 1vw;"
                  ><img
                    src="{%static 'images/navbar/icons8-cart-94.png'%}"
                    alt="Logo"
                    style="width: 1vw;"
                    class="d-inline-block align-text-center me-2"
                  />Cart</a>
              </li>
            </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="container-fluid" style="height: fit-content;">
        <div class="row">
            <div class="col-2">

                <div class="container" style="background-color: white; margin: 1vw 1vw 1vw 1vw; height: 100%; border-radius: 30px; padding: 2vw 3vw 1vw 3vw; display: inline-block;">
                    <p style="border-bottom: 1px solid black; padding-bottom: 1vw; border-color: black;">
                        <a id="sidebartab" class="btn" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1" style="border: transparent; font-size: 1vw;">
                          Availability
                        </a>
                    </p>
                    <div class="collapse" id="collapse1">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                    </div>
                    <p style="border-bottom: 1px solid black; padding-bottom: 1vw; border-color: black;">
                        <a id="sidebartab" class="btn" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2" style="border: transparent; font-size: 1vw;">
                          Price
                        </a>
                    </p>
                    <div class="collapse" id="collapse2">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                    </div>
                    <p style="border-bottom: 1px solid black; padding-bottom: 1vw; border-color: black;">
                        <a id="sidebartab" class="btn" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3" style="border: transparent; font-size: 1vw;">
                          Rating
                        </a>
                    </p>
                    <div class="collapse" id="collapse3">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                    </div>
                    <p style="border-bottom: 1px solid black; padding-bottom: 1vw; border-color: black;">
                        <a id="sidebartab" class="btn" data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4" style="border: transparent; font-size: 1vw;">
                          Publisher
                        </a>
                    </p>
                    <div class="collapse" id="collapse4">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                    </div>
                </div>
                
            </div>
            <div class="col-10" style="height: fit-content;">
            
            {% for s_book in searched_books%}
              
              <div class="row" style="margin-top: 1vw; margin-left: 1vw;">

                {% for book in s_book%}

                  <div class="col-3">
                    <div class="card" style="width: 18.5vw; border-radius: 20px; height: fit-content;padding: 0.5vw 0.5vw 0.5vw 0.5vw;">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-5">
                            <img src="{{baseUrl}}/{{book.img}}" class="card-img-top" alt="..." style="width:6vw ; height: 9vw;">
                          </div>
                          <div class="col-7">
                            <figure style="height: 2vw; width: auto;">
                              <blockquote class="blockquote fw-bold">
                                <p>{{book.title}}</p>
                              </blockquote>
                              <figcaption class="blockquote-footer" style="margin-bottom: -0.5vw;">
                                {{book.author}} <cite title="Source Title"></cite>
                              </figcaption>
                            </figure>
                            <div style="width: auto; height: 1.5vw; overflow-y: auto; margin-top: 1.5vw; ">
                              <p class="card-text" style="font-size: 0.7vw;margin-bottom: 0vw;"> {{book.cap}}</p>
                            </div>
                            <img src="{{baseUrl}}/{{book.stars}}" alt="" style="width: 5vw; height: 1vw;">
                            <div style="margin: 0.3vw 1vw 0vw 0vw;">
                              <span style="font-size: 1vw; margin-right: 0.5vw;">${{book.price}}</span>
                              <button class="btn btn-outline-primary" type="submit" style="font-size: 0.5vw;">Add to cart</button>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </div>  
                  </div>
      
                {% endfor %}

              </div>
            {% endfor %}
            </div>
        </div>
      </div>

      <div class="container-fluid" style="background-color: rgb(41,46,126); height: fitcontent; margin-top: 3vw; padding: 2vw 4vw 2vw 4vw;">

        <div class="row">
  
          <div class="col-3" style="padding: 1vw 2vw 1vw 2vw;">
            <h4 style="color:  aliceblue;">About Us</h4>
            <p style="color: white; margin-top: 1vw;">At BookStore.com we are working towards bringing our retail experience to the web and we strive to uphold this prestige by serving our customers better.</p>
            <a href="" style="color: aliceblue;margin-top: 1vw;">Know More</a>
          </div>
          <div class="col-3" style="padding: 1vw 2vw 1vw 2vw;">
            <h4 style="color: aliceblue;">Support</h4>
            <a href="" class="nav-link" style="color: aliceblue; margin-top: 1vw;"><img src="{%static 'images/footer/icons8-phone-48.png' %}" class="d-inline-block" alt="" style="width: 1.5vw; margin-right: 1vw;">+91 8764857</a>
            <a href="" class="nav-link" style="color: aliceblue; margin-top: 1vw;"><img src="{%static 'images/footer/icons8-mail-48.png' %}" class="d-inline-block" alt="" style="width: 1.5vw; margin-right: 1vw;">bookstore@gmail.com</a>
            <a href="" class="nav-link" style="color: aliceblue; margin-top: 1vw;"><img src="{%static 'images/footer/icons8-time-span-48.png' %}" class="d-inline-block" alt="" style="width: 1.5vw; margin-right: 1vw;">9:30 AM to 6:30 PM</a>
          </div>
          <div class="col-3" style="padding: 1vw 2vw 1vw 2vw;">
            <h4 style="color: aliceblue;">More Services</h4>
            <a href="" class="nav-link" style="color: aliceblue; margin-top: 1vw;"><img src="{%static 'images/footer/icons8-gift-48.png' %}" class="d-inline-block" alt="" style="width: 1.5vw; margin-right: 1vw;">E-Gift Card</a>
            <a href="" class="nav-link" style="color: aliceblue; margin-top: 1vw;"><img src="{%static 'images/footer/icons8-info-48.png' %}" class="d-inline-block" alt="" style="width: 1.5vw; margin-right: 1vw;">Check E-gift Card Balance</a>
            <a href="" class="nav-link" style="color: aliceblue; margin-top: 1vw;"><img src="{%static 'images/footer/icons8-truck-48.png' %}" class="d-inline-block" alt="" style="width: 1.5vw; margin-right: 1vw;">Track your Order</a>
            <a href="" class="nav-link" style="color: aliceblue; margin-top: 1vw;"><img src="{%static 'images/footer/icons8-location-48.png' %}" class="d-inline-block" alt="" style="width: 1.5vw; margin-right: 1vw;">Retail Stores</a>
          </div>
          
          <div class="col-3" style="padding: 1vw 2vw 1vw 2vw;">
  
            <h4 style="color: aliceblue;">Payment</h4>
            <div style="margin-top: 1vw;">
  
              <button class="footer-btn" type="button" id="button-addon2"  style="background-color: transparent;  margin-right: 1vw; border: 0;"> <img src="{%static 'images/footer/icons8-visa-48.png' %}" alt=""></button>
              <button class="footer-btn" type="button" id="button-addon2"  style="background-color: transparent;  margin-right: 1vw; border: 0;"><img src="{%static 'images/footer/icons8-rupay-48.png' %}" alt=""></button>
              <button class="footer-btn" type="button" id="button-addon2"  style="background-color: transparent; border: 0;"><img src="{%static 'images/footer/icons8-online-payment-48.png' %}" alt=""></button>
  
            </div>
  
            <h4 style="color: aliceblue; margin-top: 1vw;">Follow us on</h4>
            <div style="margin-top: 1vw;">
  
              <button class="footer-btn" type="button" id="button-addon2"  style="background-color: transparent;  margin-right: 1vw; border: 0;"> <img src="{%static 'images/footer/icons8-insta-48.png' %}" alt=""></button>
              <button class="footer-btn" type="button" id="button-addon2"  style="background-color: transparent;  margin-right: 1vw; border: 0;"><img src="{%static 'images/footer/icons8-facebook-48.png' %}" alt=""></button>
              <button class="footer-btn" type="button" id="button-addon2"  style="background-color: transparent; border: 0;"><img src="{%static 'images/footer/icons8-twitter-48.png' %}" alt=""></button>
  
            </div>
  
          </div>
          
  
        </div>
  
      </div>

</body>
</html>